.invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.tal {
    text-align: left;
}

.show-service-panel
{
    position: fixed;
    right: 0;
}

.notify {
    top: -12px !important;
}
